body 
{
	background-color: hotpink;
	text-align: center;
	margin: 40px;
}
div
{
	height: 310px;
	width: 150px;
	border: 2px solid yellow ;
	margin-right: 20px;
	float: left;

}
 .c1
{
background-color: yellow;
}
.c2
{
	background-color: darkred;

}
.c3
{
	background-color: green;
}
.c4
{
	clear: both;

}